<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<h1>New movie</h1>

<%= form_for @movie do |form| %>
    <%= form.label :url %>
    <%= form.text_field :url, :size => 100 %>
    <%= form.submit %>
<% end %>
<%= link_to 'Back', movies_path %>
