<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie.name %>
</p>

<p>Similar movies:</p>
<table border=1>
  <tr>
    <th>Name</th>
    <th>Commonality</th>
    <th>Common Tropes</th>
  </tr>
  <% @most_similar_movies.each do |other_movie, correlation| %>
    <tr>
      <% common_tropes = (@movie.tropes & other_movie.tropes) %>
      <td><%= link_to other_movie.name, other_movie %></td>
      <td>
        <%= number_to_percentage correlation, :precision => 2 %>
        <%= "(#{common_tropes.size}/#{[@movie.tropes.size, other_movie.tropes.size].min})" %>
      </td>
      <td><%= common_trope_links(common_tropes) %></td>
    </tr>
  <% end %>
</table>


<p>
  Tropes:
</p>
<table border=1>
  <tr>
    <th>Name</th>
    <th>URL</th>
  </tr>

  <% @movie.tropes.each do |trope| %>
    <tr>
      <td><%= trope.name %></td>
      <td><%= link_to trope.url, trope.url %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', movies_path %>
