<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie.name %>
</p>

<p>
  Tropes:
</p>
<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
  </tr>

  <% @movie.tropes.each do |trope| %>
    <tr>
      <td><%= trope.name %></td>
      <td><%= trope.url %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', movies_path %>
