<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @movie.name %>
</p>

<p>
    <b>TVTropes URL:</b>
    <%= link_to @movie.url, @movie.url %>
</p>
<p>Similar movies:</p>
<table border=1>
  <tr>
    <th>Title</th>
    <th>Commonality</th>
    <th>Common Tropes</th>
  </tr>
  <% @most_similar_movies.each do |other_movie, correlation| %>
    <tr>
      <% common_tropes = (@movie.tropes & other_movie.tropes).sort_by(&:name) %>
      <td><%= link_to other_movie.name, other_movie %></td>
      <td>
        <%= number_to_percentage correlation, :precision => 2 %>
        <%= "(#{common_tropes.size}/#{[@movie.tropes.size, other_movie.tropes.size].min})" %>
      </td>
      <td><%= common_trope_links(common_tropes) %></td>
    </tr>
  <% end %>
</table>


<p>
  Tropes:
</p>
<table border=1>
  <% @movie.tropes.by_name.each do |trope| %>
    <tr>
      <td><%= link_to trope.name, trope %></td>
    </tr>
  <% end %>
</table>

<%= link_to_function "Back", "history.back()" %>
