<p id="notice"><%= notice %></p>

<p>
  <b>Trope:</b>
  <%= @trope.name %>
</p>

<p>
  <b>TVTropes URL:</b>
  <%= link_to @trope.url, @trope.url %>
</p>

<p>Movies employing this trope:</p>
<table border=1>
  <% @trope.movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.name, movie %></td>
    </tr>
  <% end %>
</table>

<%= link_to_function "Back", "history.back()" %>
